{% extends "market/layout.html" %}

{% block title %}Litecoin - Bitcoin Negociações{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Nova ordem
            </div>
               <div class="panel-body">     
{% load bootstrap %}
<form method="post">{% csrf_token %}
    {{ form | bootstrap  }}
    <input class="btn btn-outline btn-info" type="submit" value="Salvar" />
    <a class="btn btn-outline btn-danger btn-xs" href="{% url "order_list" %}">Cancelar</a>
</form>
                
                
                </div>
        </div>
    </div>
</div>
{% endblock %}